
nav ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: black;
	height: auto;
	list-style: none;
	position: fixed;
	top: 0px;
}

nav li {
	display: inline;
	float: left;
	margin: 0px 0px;
	padding: 10px;
	background: black;
}

nav a:link, nav a:visited {
	padding: 10px 10px;
	color: white;
	text-decoration: none;
}
nav a:hover {
	color: black;
	background-color: white;
}
nav + h2 {
	margin-top: 80px;
}
h2 {
	font-family: "proxima-nova-sc-osf-ext-cond",sans-serif;
	font-size: 2em;
	margin: 0px 0px 0px 0px;
	border-bottom: 2px solid black;
	padding-bottom: 2px;
}
h4 {
	font-family: "proxima-nova-sc-osf-ext-cond",sans-serif;
	font-size: 1.5em;
	margin: 10px 0px 5px 0px;
}
h4 + ul {
	margin-top: 5px;
	padding-left: 20px;
}

