
body {
  font: normal 1em/1.5 "lexia";
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
object {
  position: relative;
  top: 60px;
  left: 602px;
  z-index: 2;
  max-width: 400px;
}
nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	background: black;
	height: auto;
	list-style: none;
	position: fixed;
	top: 0;
}
p {
	margin-top: 2px;
	padding: 0 160px 0 60px; 
}
h4.first {
	margin-top: 2px;
}

nav li {
	display: inline;
	float: left;
	margin: 0 0;
	padding: 10px 0;
	background: black;
}

nav a:link, nav a:visited {
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
nav a:hover {
	color: black;
	background-color: white;
	border-top: 4px solid white;
	border-bottom: 3px solid white;
}
}
nav + h2 {
	margin-top: 80px;
}
h2 {
	font-family: "proxima-nova-sc-osf-ext-cond",sans-serif;
	font-size: 3.5em;
	margin: 0 0 -15px 0;
	color: #777;
}
h4 {
	font-size: 1.3em;
	margin: 10px 0 5px 0;
}
section {
	border-top: 2px solid #777;
	margin-top: -5px;
	padding-top: 0;
}
h4 + ul {
	margin-top: 0px;
	padding-left: 20px;
}
body#home a#homenav,
body#resume a#resumenav,
body#portfolio a#portfolionav,
body#contact a#contactnav {
	color: #777;
	background: white;
	font-weight: bold;
	border-top: 4px solid white;
	border-bottom: 3px solid white;
}
main {
	margin: 70px 0px 0px 10px;

}

