
nav ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: black;
	height: auto;
	list-style: none;
	position: fixed;
	top: 0px;
}
p {
	margin-top: 5px;
}
h4.first {
	margin-top: 5px;
}

nav li {
	display: inline;
	float: left;
	margin: 0px 0px;
	padding: 10px 0px 10px 0px;
	background: black;
}

nav a:link, nav a:visited {
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
nav a:hover {
	color: black;
	background-color: white;
}
nav + h2 {
	margin-top: 80px;
}
h2 {
	font-family: "proxima-nova-sc-osf-ext-cond",sans-serif;
	font-size: 3.5em;
	margin: 0px 0px 0px 0px;
	color: #777;
}
h4 {
	font-family: "ff-karbid-slab-web-pro",sans-serif;
	font-size: 1.3em;
	margin: 10px 0px 5px 0px;
}
section {
	border-top: 2px solid #777;
	margin-top: -5px;
	padding-top: 0;
}
h4 + ul {
	margin-top: 0px;
	padding-left: 20px;
}
body#home a#homenav,
body#resume a#resumenav,
body#portfolio a#portfolionav,
body#contact a#contactnav {
color: #777;
background: white;
font-weight: bold;
}
main {
	margin: 70px 0px 0px 10px;

}

